# macOS
.DS_Store

# VS Code / IntelliJ
.vscode/
.idea/
*.iml

# Scala / sbt / Chisel
target/
project/target/
project/project/
.metals/
.bloop/

# Logs
*.log

# Temp / generated
*.tmp
*.out
*.swp*.Zone.Identifier
*.o
*.riscv
tests/hardware/.metals-scala-cli/
